.light-theme {
    --primary-color:  #d5cfc2;
    --accent-color: #FFFFF3;
    --secondary-color: #030301;
    --footer-content-color: #ffffff;
    --hover-color: #656565;
    --search-field-color: #ffffff;
}