:root {
    //colors 
    --primary-color: #001B2E;
    --secondary-color: #f3b344;
    --accent-color: #babbbc;
    --hover-color: #a6a6a6;
    --search-field-color: #ADB6C4;
    --search-field-active: #294C60;
    --btn-color: #ff0000;
   
    // font-size
    --font-size-xs: 14px;
    --font-size-s: 16px;
    --font-size-m: 24px;
    --font-size-l: 32px;
    --font-size-xl: 50px;
   
   //  font-style 
   --font-style-normal: normal;
   
   // font-weight
   --font-weight-regular: 400;
   --font-weight-medium: 500;
   --font-weight-bold: 700;
   --font-weight-black: 900;
    }