:root {
  --primary-color: #001B2E;
  --secondary-color: #f3b344;
  --accent-color: #babbbc;
  --hover-color: #a6a6a6;
  --search-field-color: #ADB6C4;
  --search-field-active: #294C60;
  --btn-color: #ff0000;
  --font-size-xs: 14px;
  --font-size-s: 16px;
  --font-size-m: 24px;
  --font-size-l: 32px;
  --font-size-xl: 50px;
  --font-style-normal: normal;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;
}

.dark-theme {
  --primary-color: #080A0E;
  --accent-color: #202635;
  --secondary-color: #ffffff;
  --footer-content-color: #ffffff;
  --hover-color: #a6a6a6;
  --btn-color: #6c757d;
}

.light-theme {
  --primary-color: #B7AD99;
  --accent-color: #FFFFF3;
  --secondary-color: #030301;
  --footer-content-color: #ffffff;
  --hover-color: #656565;
  --search-field-color: #000000;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-regular);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  margin-left: 5px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 4px;
  bottom: 4px;
  background-color: var(--accent-color);
  border-radius: 50%;
  transition: transform 0.2s;
}

input:checked + .slider {
  background-color: var(--secondary-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.input-search {
  background-color: var(--accent-color);
}

.navbar {
  background: var(--primary-color);
  background-image: var(--bs-gradient);
}

a {
  text-decoration: none;
}
a:hover {
  opacity: 0.5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.genres {
  padding: 30px 15px;
  background-color: var(--accent-color);
  background-image: var(--bs-gradient);
}
.genres_title {
  text-transform: uppercase;
  color: var(--secondary-color);
  font-weight: 300;
}
.genres_tags {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.genres_tags_tag {
  margin: 5px;
  color: var(--search-field-color);
  padding: 10px 20px;
  background-color: var(--primary-color);
  border-radius: 20px;
  cursor: pointer;
}
.genres_tags_tag:hover {
  opacity: 0.5;
}
.genres_tags_taghighlight {
  margin: 5px;
  color: var(--primary-color);
  padding: 10px 20px;
  background-color: var(--bs-danger);
  border-radius: 50px;
  cursor: pointer;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  font-size: 24px;
  color: var(--secondary-color);
}

.loader::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  border-radius: 50%;
  border: 2px solid var(--accent-color);
  border-color: var(--accent-color) transparent var(--accent-color) transparent;
  animation: loader-spin 1s linear infinite;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.movies {
  padding-top: 30px;
  background-color: var(--primary-color);
}
.movies .card-body {
  position: relative;
  overflow: visible;
  transition: transform 0.3s ease;
  background-color: var(--accent-color);
}
.movies .card-body:hover {
  transform: scale(1.1);
}

.grid {
  display: grid;
  margin-left: 0.5px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5em;
}

.favourites {
  background-color: var(--accent-color);
  background-image: var(--bs-gradient);
}
.favourites_title {
  color: var(--secondary-color);
}
.favourites_grid {
  display: grid;
  margin-left: 0.5px;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0.5em;
}
.favourites .card {
  background-color: var(--primary-color);
}

.footer {
  width: 100%;
  height: 50px;
  border-top: 1px solid var(--search-field-color);
  background-color: var(--primary-color);
}
.footer_wrapper {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_wrapper_copyright, .footer_wrapper_link {
  text-decoration: none;
  color: var(--footer-content-color);
}
.footer_wrapper_copyright:hover, .footer_wrapper_link:hover {
  text-decoration: none;
  color: var(--hover-color);
  opacity: 1;
}
.footer_wrapper_link:hover svg path {
  fill: var(--hover-color);
  opacity: 1;
}
.footer_wrapper_link {
  display: flex;
  gap: 5px;
  align-items: center;
}/*# sourceMappingURL=styles.css.map */